@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
   --green-400: #4ade80;
   --green-500: #22c55e;
}

* {

   vertical-align: baseline;
   font-family: inherit;
   font-style: inherit;
   font-size: 100%;
   padding: 0;
   margin: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a :focus,
a :active {
   outline: none;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

input[type=number] {
   -moz-appearance: textfield;
   appearance: textfield;
   margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
   -webkit-appearance: none;
}

textarea {
   resize: none;
}

.logo{
   position: relative;
}

.logo::before{
   content: ' ';
   width: 12px;
   height: 12px;
   position: absolute;
   left: -18%;
   top: 34%;
   border-radius: 50%;
   background-color: var(--green-400);
}

h1{
   font-family: 'Inter', sans-serif;
}

#code{
   letter-spacing: 0.75rem;
}
#icon:hover{
   filter: invert(55%) sepia(82%) saturate(434%) hue-rotate(89deg) brightness(98%) contrast(92%);
}
#icon:active{
   filter: brightness(0%) invert(44%) sepia(98%) saturate(691%) hue-rotate(101deg) brightness(88%) contrast(83%);
}


/* #notification::after{
   content: "";
   background-image: url("./assets/notification.svg");
   position: absolute;
   top: 16%;
   right:  -23%;
   width: 1.15em;
   height: 1.15em;
   background-repeat: no-repeat;
   background-size: contain;

} */

#sidebar a.active{
   font-weight: bold;
   color: var(--green-500);
}